.primary-footer {
    background-color: var(--bs-secondary);
    color: #fff;

    .footer-top {
        border-top: none;
        border-bottom-color: #ffffff;
    }

    .footer-logo {
        img {
            margin-bottom: 30px;
        }
    }

    .footer-links {
        margin-bottom: 30px;
        font-weight: 700;
    }

    .social-links {
        a {
            background: $white;

            i {
                color: var(--bs-secondary);
                font-size: 1.25rem;
            }

            &:hover {
                background: var(--bs-tertiary-1);

                i {
                    color: var(--bs-secondary);
                }
            }
        }
    }

    .footer-badges {
        img {
            max-width: 90% !important;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            @include font-size(18px);
            display: inline-block;
            margin: 0 20px !important;
        }
    }

    a {
        &:hover {
            color: var(--bs-tertiary-1);
        }
    }

    p {
        @include font-size(16px);
    }
}